.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(152, 195, 232,0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.banner__title {
    padding-top: 101px;
    padding-bottom: 32px;
    font-family: 'Galien';
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.banner__text {
    padding-bottom: 71px;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 60%;
}
.banner__button {
    box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
}
.banner__illustration {
    padding-top: 11.76px;
    width: 687.25px;
    height: 612.56px;
}
@media (max-width: 1280px){
    .banner {
        padding-right: 0;
        padding-left: 0;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 640px){
    .banner__button {
        margin-bottom: 100px;
    }
    .banner__illustration {
        display: none;
    }
}
