.clients {
    position: relative;
    z-index: 0;
    min-height: 2000px;
    border-top-left-radius: 200px;
    background-color: rgba(90, 152, 208, 1);
}
.clients-top {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 111px;
    gap: 97px;
    padding-left: 213px;
    padding-right: 213px;
}
.clients__title {
    font-family: 'Gilroy', sans-serif;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 1);
}
.clients__text {
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}
.clients-bot {
    display: flex;
    padding-left: 213px;
    padding-right: 213px;
    padding-bottom: 125.08px;
    justify-content: center;
}
.clients__logos {
    width: 940px;
    height: 256px;
    display: grid;
    grid-template-columns: repeat(4, 235px);
    grid-template-rows: repeat(2, 128px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.clients__logos:hover {
    cursor: pointer;
}
.clients__button {
    color: rgba(255, 255, 255, 1);
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    background-color: #1F3F68;
    opacity: 20%;
}
.clients__button:hover {
    cursor: pointer;
}
@media (max-width: 1280px){
    .clients-top {
        padding-left: 100px;
        padding-right: 100px;
    }
     .clients-bot {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 980px){
    .clients-top {
        padding-left: 90px;
        padding-right: 90px;
    }
    .clients__logos {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 235px);
        grid-template-rows: repeat(4, 128px);
     }
}
@media (max-width: 640px){
    .clients-top {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-around;
    }
    .clients {
        // padding-bottom: 1060px;
        min-height: 2800px;
    }
    .clients__title {
        text-align: center;
    }
    .clients__text {
        text-align: center;
    }
}
@media (max-width: 540px){
    .clients__logos {
        display: grid;
        grid-template-columns: 235px;
        grid-template-rows: repeat(8, 128px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        // padding-bottom: 800px;
    }
    .clients-top {
        flex-direction: column;
    }
    .clients {
        height: 3300px;
    }
}