.clients {
    position: relative;
    z-index: 0;
    border-top-left-radius: 200px;
    background-color: rgba(90, 152, 208, 1);
    height: 1564px;
}

.clients-top {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 111px;
    gap: 97px;
    padding-left: 213px;
    padding-right: 213px;
}

.clients__title {
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 1);
}

.clients__text {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}

.clients-bot {
    display: flex;
    padding-left: 213px;
    padding-right: 213px;
    padding-bottom: 125.08px;
    justify-content: center;
}

.clients__logos {
    width: 940px;
    height: 256px;
    display: grid;
    grid-template-columns: repeat(4, 235px);
    grid-template-rows: repeat(2, 128px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.clients__logos:hover {
    cursor: pointer;
}

.clients__button {
    color: rgba(255, 255, 255, 1);
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    background-color: #1F3F68;
    opacity: 20%;
}

.clients__button:hover {
    cursor: pointer;
}

@media (min-width: 360px) {
    .clients-bot .clients-top{
        padding-left: 10px;
        padding-right: 10px;
    }

    .clients {
        max-width: 360px;
    }
}

@media (min-width: 576px) {
    .clients__logos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .clients-bot .clients-top{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 768px) {
    .clients {
        height: 1831px;
    }
}

@media (min-width: 992px) { 
    .clients {
        height: 1661px;
    }
}




