.container {
    padding-left: 213px;
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
}




@media (min-width: 768px) {
    .container {
        padding-left: 0px;
    }
}

@media (min-width: 992px) { 
    .container {
        padding-left: 0px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-left: 0px;
    }
}