@counter-style circled-alpha {
  system: fixed;
  symbols: 'A.' 'T.' 'E '  ;
  suffix: " ";
}
.footer {
    bottom: 0;
    position: absolute;
    z-index: 1;
    width: calc(100% - 96px);
    background-color: #316099;
    border-top-right-radius: 200px;
    padding-bottom: 64px;
}
.footer-superator__img {
    width: calc(100% - 293px);
}
.footer-top {
    display: flex;
    justify-content: space-between;
    padding-left: 213px;
    padding-right: 197px;
}
.footer-top__wrapper {
    padding-top: 91px;
}
.footer-top__title  {
    padding-bottom: 32px;
    font-family: "Gilroy", sans-serif;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer-top__text  {
    padding-bottom: 96px;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 60%;
}
.footer-top__button {
    margin-top: 165px;
}
.footer-bot {
    display: block;
}
.footer-info {
    display: flex;
    padding-left: 214px;
    padding-right: 320px;
    justify-content: space-between;
}
.footer-info__connect {
    list-style-type: circled-alpha;
    list-style-position: outside;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-left: 25px;
}
.footer-info__connect li {
    padding-left: 16px;
    padding-bottom: 24px;
}
.footer-info__connect-wrapper {
    padding-top: 97px;
    padding-bottom: 33px;
}
.footer-info__logo-wrapper {
    display: flex;
    padding-bottom: 33px;
}
.footer-info__logo {
    padding-right: 15px;
}
.footer-info__name {
    font-family: "Gilroy", sans-serif;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-info__about-list {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style: none;
}
.footer-info__about-list li {
    margin-bottom: 16px;
}
.footer-info__about-title {
    padding-top: 96px; 
    list-style: none;
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-bottom: 32px;
}
.footer-info__follow-list {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style: none; 
}
.footer-info__follow-list li {
    margin-bottom: 16px;
}
.footer-info__follow-title {
    padding-top: 96px; 
    list-style: none;
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-bottom: 32px;
}
.footer-copyright {
    padding-left: 213px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 40%;
}
@media (max-width: 1280px){
    .footer {
        margin-right: 96px; 
    }
    .footer-info {
        padding-right: 50px;
    }
    .footer-copyright {
        padding-right: 50px;;
    }
}
@media (max-width: 1067px){
    .footer {
        padding-left: 50px;
    }
    .footer-top {
        padding-left: 50px; 
        justify-content: space-between;
    }
    .footer-info {
        padding-right: 50px;
        padding-left: 50px;
    }
    .footer-copyright {
        padding-left: 50px;;
    }
}
@media (max-width: 980px){
    .footer-info__follow-title {
        padding-top: 50px;
    }
    .footer-info__about-title {
        padding-top: 50px;
    }
    .footer-info__connect-wrapper {
        padding-top: 50px;
    }
    .footer-top {
        margin-left: 0;
        padding-right: 10px;
        padding-left: 0;
    }
    .footer-info {
         margin-left: 0px;
         padding-right: 10px;
         padding-left: 0px;
    }
    .footer-copyright {
        padding-left: 0px;
    }
}
@media (max-width: 640px){
    .footer {
        padding-left: 10px;
        margin-right: 0;
        width: calc(100% - 36px);
    }
    .footer-top {
        margin-left: 0;
        padding-right: 10px;
        padding-left: 0;
    }
    .footer-info {
         margin-left: 0px;
         padding-right: 10px;
         padding-left: 0px;
    }
    .footer-copyright {
       padding-left: 10px;
    }
}
@media (max-width: 540px){
    .footer-info__connect-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-top__button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        padding-left: 10px;
        margin-right: 0;
        width: 100%;
    }
    .footer-top {
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center;
       padding-left: 0;
    } 
     .footer-info {
        flex-direction: column;
        padding-left: 0;
        margin-left: 1;
    }   
    .footer-info__about-title {
        text-align: center;
    }
    .footer-info__about-list {
        text-align: center;
    }
    .footer-info__follow-title {
        text-align: center;
    }
    .footer-info__follow-list {
        text-align: center;
    }
    .footer-copyright {
        margin-left: auto;
        margin-right: auto;
    }
}