@font-face {
  font-display: swap;
  font-family: 'Galien';
  font-style: italic;
  font-weight: 700;
  src: url('./galien-bold.ttf') format('ttf');
}
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 400;
  src: url('./gilroy-regular.ttf') format('ttf');
}
@font-face {
  font-display: swap; 
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 600;
  src: url('./gilroy-semibold.ttf') format('ttf');
}